@model PayCal_MVC.Models.PermViewModel
@{
    ViewData["Title"] = "Created Permanent Employee";
}
<h2>Permanent Employee by ID</h2>
<div class="card">
    <br><code>ID: @Model.Created.EmployeeID Name: @Model.Created.FName @Model.Created.LName Salary: @Model.Created.Salaryint Bonus: @Model.Created.Bonusint</code><br>
</div>

<div class="column">
    <div class="cards">
        <a class="buttons" id="PermEmployeesBtn" asp-area="" asp-controller="Perm" asp-action="Employees">
            <button id="back_btn">Back</button>
        </a>
    </div>
</div>