@model PayCal_MVC.Models.PermViewModel
@{
    ViewData["Title"] = "Permanent Employees";
}

<h2>Permanent Employee Management</h2>
<div class="card">
    @for(var i = 0; i < Model.Employees.Count; i++)
    {<code id="outputWindow">ID: @Model.Employees[i].EmployeeID Name: @Model.Employees[i].FName @Model.Employees[i].LName Salary: @Model.Employees[i].Salaryint Bonus: @Model.Employees[i].Bonusint</code>}
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="GetEmployee_Btn" onclick="ShowMenu_GetEmployeeBtn()">Get Employee</button>
    </div>
    <form id="getbyID_form" asp-controller="Perm" asp-action="Employee" method="get">
        <input type="number" name="id" placeholder="Employee ID"/>
        <input type="submit" value="Submit"/>
    </form>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="payCalculator_btn" onclick="ShowMenu_PayCalBtn()">Pay Calculator</button>
    </div>
    <form id="PayCal_form" asp-controller="Perm" asp-action="PayCal" method="get">
        <input type="number" name="id" placeholder="Employee ID"/>
        <input type="submit" value="Submit"/>
    </form>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="addEmployee_btn" onclick="ShowMenu_AddEmployeeBtn()">Add Employee</button>
    </div>
    <form id="Create_form" asp-controller="Perm" asp-action="Create" method="post">
        <input type="text" name="fname" placeholder="First Name"/>
        <input type="text" name="lname" placeholder="Last Name"/>
        <input type="number" name="salary" placeholder="Salary"/>
        <input type="number" name="bonus" placeholder="Bonus"/>
        <input type="submit" value="Create"/>
    </form>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="editEmployee_btn" onclick="ShowMenu_EditEmployeeBtn()">Edit Employee</button>
    </div>
    <form id="Edit_form" asp-controller="Perm" asp-action="Edit" method="post">
        <input type="number" name="id" placeholder="Employee ID"/>
        <input type="text" name="fname" placeholder="First Name"/>
        <input type="text" name="lname" placeholder="Last Name"/>
        <input type="number" name="salary" placeholder="Salary"/>
        <input type="number" name="bonus" placeholder="Bonus"/>
        <input type="submit" value="Update"/>
    </form>
</div>

<div class="column">
    <div class="cards">
        <button class="menubtn" id="GetEmployee_Btn" onclick="ShowMenu_DeleteEmployeeBtn()">Delete Employee</button>
    </div>
    <form id="Delete_form" asp-controller="Perm" asp-action="Delete" method="post">
        <input type="number" name="id" placeholder="Employee ID"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
